/*@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}
body{
  overflow-x: hidden;
}
.main-head{
  text-align: center;
}
.todo-para{
  font-size: 2rem;
  color: rgb(177, 161, 224);
}
.main-div {
  min-height: 100vh;
  background: rgba(247, 245, 245, 0.835);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.container-fluid{
  height: 5rem;
  padding: 0;
  font-size: 1.7rem;
}
.main-div .child-div {
  text-align: center;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50rem;
  min-height: 50rem;
  box-shadow:  rgb(0 0 0 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  background: #d4cfee;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-radius: 2rem;
}


.main-div .child-div  img {
  width: 10rem;
  height: 8rem;
  margin-top: 2rem;
}

.main-div .child-div  .main-heading {
  color:rgb(85, 41, 220);
  font-size: 2.4rem;
  padding-top: 2rem;
  text-transform: capitalize;
}
.main-div .child-div .addItems{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-div .child-div .addItems input {
  /* display: block; */
  min-width: 40rem;
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.42857143;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control,
.form-control:focus,
.form-control:active,
.form-control:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
}
.main-div .child-div .addItems input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.main-div .child-div .addItems input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

/*  Please Subscribe to ThapaTechnical Youtube Channel
/* Click Here: https://www.youtube.com/thapatechnical  */

.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: #fff;
  background-image: none;
  color: #666;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}
.fa:hover {
  color: rgb(47, 214, 122);
}

.fa-plus:before {
  content: "\f067";
  font-size: 1.5rem;
}

.main-div .child-div .showItems {
  margin-top: 3rem;
  text-align: center;
}

.main-div .child-div .showItems .eachItem {
  background: #fff;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  min-width: 40rem;
  word-break: break-word;
  background: rgb(85, 41, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-div .child-div .showItems .eachItem:hover {
  background: rgb(249, 249, 252);
  color: rgb(85, 41, 220);
}

.main-div .child-div .showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2px;
}

.fa-trash-alt,
.fa-edit {
  /* margin-left: -2.5rem; */
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  color: rgb(251, 251, 251);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}

.addItems .fa-edit {
  color: rgb(47, 214, 122);
}

.fa-edit {
  margin-left: -3.5rem;
}

.eachItem:hover .fa-trash-alt {
  color: rgb(214, 47, 61);
}

.eachItem:hover .fa-edit {
  color: rgb(100, 214, 47);
}

.main-div .child-div .eachItem:hover .tasks {
  color: rgb(85, 41, 220);
  font-weight: bold;
}

.showItems .btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 13rem;
}
.main-div .child-div .input-btn {
  margin-top: 2rem;
}
.main-div .child-div.showItems .btn:hover {
  text-decoration: none;
}

.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid 0.1px rgb(36, 28, 148);
  border-radius: 0.8rem;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  width: 15rem;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: rgb(85, 41, 220);
}

.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

 span{
  color: rgb(85, 41, 220);
}
@media (max-width:1026px) {
  .main-div{
    width: 77rem;
    min-height: 58vh;
  }
}
@media (max-width:576px){
  .main-div{
    width: 37rem;
    min-height: 73vh;
  }
  .main-div .child-div{
    width: 33rem;
  }
  .main-div .child-div .addItems input{
    min-width: 27rem;
  }
  input .form-control{
   margin-right: 2rem;
  }
  .main-div .child-div .showItems .eachItem{
    margin-left:0;
    min-width: 30rem;
  }
}
@media (max-width:450px){
  .main-head{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .todo-para{
    font-size: 1.3rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .main-div{
    width: 38rem;
  }
  .main-div .child-div{
    width: 31rem;
    min-height: 43rem;
  }
.main-div .child-div .main-heading{
  font-size: 2rem;
}
.main-div .child-div .addItems input {
  min-width: 26rem;
  font-size: 1.5rem;
}
.main-div .child-div .showItems .eachItem {
  min-width: 27rem;
}
}